# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/todolist-app/node_modules
/todolist-app/.pnp

/internet-shop/node_modules
/internet-shop/.pnp

/internet-shop-context/node_modules
/internet-shop-context/.pnp

/internet-shop-redux/node_modules
/internet-shop-redux/.pnp

/internet-shop-proptypes/node_modules
/internet-shop-proptypes/.pnp

/todolist-middleware/node_modules
/todolist-middleware/.pnp

/todolist-typescript/node_modules
/todolist-typescript/.pnp

.pnp.js

# testing
/todolist-app/coverage
/internet-shop/coverage
/internet-shop-context/coverage
/internet-shop-redux/coverage
/internet-shop-proptypes/coverage
/todolist-middleware/coverage
/todolist-typescript/coverage


# production
/todolist-app/build
/internet-shop/build
/internet-shop-context/build
/internet-shop-redux/build
/internet-shop-proptypes/build
/todolist-middleware/build
/todolist-typescript/build


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
