.todolist{
    padding: 0 80px;
}

.todolist .todolist-list{
    margin: 50px 0;
    list-style: none;
    text-align: left;
    font-size: 18px;
    font-style: italic;
}

.todolist-list .todolist-item{
    position: relative;
    padding: 20px 0;
    padding-left: 40px;
    border-bottom: 1px solid rgb(87, 124, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-checked{
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(87, 124, 1);
    border-radius: 50%;
}

.item-checked.active{
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 10px;
    height: 20px;
    border-top: none;
    border-left: none;
    transform: rotateZ(45deg);
    border-radius: 0;
}

.item-checked.active:hover{
    box-shadow: none;
}


.item-checked:hover{
    box-shadow: 0px 0px 10px 0 rgb(87, 124, 1);
    cursor: pointer;
}


.todolist .input{
    width: 80%;
}

.todolist .btn{
    margin-left: 50px;
}