.login {
    margin: 0 auto;
    padding: 50px;
    max-width: 500px;
    border: 2px solid rgb(29, 172, 124);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-title {
    font-style: normal;
    font-size: 24px;
    margin-bottom: 50px;
    color: rgb(0, 131, 87);
}

.login .btn {
    margin-left: 50px;
}